@inject NavigationManager Navigation
@using AnimeMaze.Models

@code {
    [Parameter] public Hero? Character { get; set; } = new Hero();
    [Parameter] public int Index { get; set; }
    [Parameter] public EventCallback<int> OnSelect { get; set; }
    [Parameter] public EventCallback<int> OnToggleDescription { get; set; }
    [Parameter] public bool IsExpanded { get; set; }
    [Parameter] public bool IsSelected { get; set; }

    private async Task HandleSelect()
    {
        await OnSelect.InvokeAsync(Index);
    }

    private async Task HandleToggleDescription()
    {
        await OnToggleDescription.InvokeAsync(Index);
    }
}

<section @onclick="HandleSelect" @onclick:preventDefault 
         class="group border-2 m-2 rounded-t-md relative bg-gray-800 
                @(IsSelected ? "border-green-500" : "border-gray-700") 
                hover:border-green-500 transition duration-300 ease-in-out">
    @if (Character != null)
    {
        <div class="overflow-hidden rounded-t-md">
            <img src="@Character.Image.Down" alt="@Character.Name" class="w-full object-cover aspect-square group-hover:scale-110 transition-transform duration-300 ease-in-out"/>
        </div>
        <div class="p-2">
            <h2 class="text-xl font-semibold">@Character.Name</h2>
            <div class="flex justify-around gap-6 mt-2 p-2 bg-gray-900 rounded-md">
                <div class="flex items-center space-x-1 text-green-600">
                    <img src="/images/Others/Boots.png">
                    <small>Velocidad <span class="text-xl">@Character.Speed</span></small>
                </div>
                <div class="flex items-center space-x-1 text-red-600">
                    <img src="/images/Others/Hearth.png" >
                    
                    <small>Vida <span class="text-xl">@Character.Health</span></small>
                </div>
                <div class="flex items-center space-x-1 text-blue-600">
                    <img src="/images/Others/Sword.png" >
                    
                    <small>Ataque <span class="text-xl">@Character.Attack</span></small>
                </div>
            </div>
            <div class="mt-2 mb-2 p-2 bg-gray-900 rounded-md">
                <h3 class="text-lg font-semibold text-yellow-400">Poder</h3>
                <ul class="list-disc list-inside text-gray-300">
                    <li>@Character.Power.Name</li>
                </ul>
            </div>
            <p class="text-sm text-gray-300 overflow-hidden @(IsExpanded ? "max-h-none" : "max-h-20") transition-all duration-300 ease-in-out">
                @Character.Description
            </p>
            <button class="text-sm text-blue-500 hover:underline" 
                    @onclick:stopPropagation @onclick="HandleToggleDescription">
                @(IsExpanded ? "Leer menos" : "Leer más")
            </button>
        </div>
    }
    else
    {
        <div class="p-2">
            <h2 class="text-xl font-semibold">No hay personaje</h2>
        </div>
    }
</section>
