@using AnimeMaze.Models;
@using AnimeMaze.Services;
@using AnimeMaze.Data;

<section class="grid grid-cols-10 w-3/4 aspect-square mb-8" aria-live="polite">
    @if (game != null && players != null)
    {
        for (int i = 0; i < game.Maze.GetLength(0); i++)
        {
            for (int j = 0; j < game.Maze.GetLength(1); j++)
            {
                int row = i;
                int col = j;
                var playerAtCell = players.FirstOrDefault(p => p.Position.RowPosition == row && p.Position.ColPosition == col);

                if (playerAtCell != null && playerAtCell.HeroSelected != null)
                {
                    string borderClass = playerAtCell == TurnManager.CurrentPlayer ? "border-4 border-blue-500" : "";
                    <img src="@playerAtCell.HeroSelected.Image" alt="@playerAtCell.HeroSelected.Name" class="h-full w-full object-cover aspect-square @borderClass" @onclick="() => HandleClick(row, col)">
                }
                else if (game.Maze[row, col].Trap != null)
                {
                    var trap = game.Maze[row, col].Trap;
                    <img src="@trap.Image" alt="@trap.Name" class="h-full w-full object-cover aspect-square" @onclick="() => HandleClick(row, col)">
                }
                else
                {
                    var cell = game.Maze[row, col].Type;
                    <span class="@GetCellClass(cell)" @onclick="() => HandleClick(row, col)"></span>
                }
            }
        }
    }
</section>

@code {
    [Parameter]
    public Labyrinth? game { get; set; }
    [Parameter]
    public List<Player>? players { get; set; }
    [Parameter]
    public EventCallback<(int, int)> OnClickMaze { get; set; }

    private string GetCellClass(Labyrinth.CellType cellType)
    {
        return cellType switch
        {
            Labyrinth.CellType.Road => "bg-white",
            Labyrinth.CellType.Wall => "bg-gray-900",
            Labyrinth.CellType.Trap => "bg-red-800", // No se usa si se renderizan las imágenes de las trampas
            Labyrinth.CellType.Exit => "bg-green-800",
            _ => ""
        };
    }

    private void HandleClick(int row, int col)
    {
        OnClickMaze.InvokeAsync((row, col));
    }
}
